<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New comment created for ticket {{1.title}}</title>
  </head>
  <body>
    <h1>New comment created for ticket {{1.title}} by {{0.creator}}</h1>
    <p>{{0.content}}</p>
  </body>
</html>