<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New ticket created</title>
    <style>
      p {white-space: pre-line; }
    </style>
  </head>
  <body>
    <h1>New ticket created by
      {{1.creator}}:
      {{1.title}}
      for asset
      {{0.title}}</h1>
    <p>{{1.description}}</p>
  </body>
</html>